.env
.venv/
__pycache__/
*.py[cod]
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
backend/.env
backend/build/
backend/dist/
backend/*.egg-info/
backend/.postgres/
backend/.pgdata/
frontend/node_modules/
frontend/dist/
frontend/.env
presentation/node_modules/
presentation/dist/
presentation/.env
